<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>tITLE </title>

</head>

{% extends 'base.html' %}

{% block content %}

<h2 style ="text-align: center">{{ search | title }} </h2>


 <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
            <a href="/"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F1%2F18%2FLand_Rover_Range_Rover_Autobiography_2016.jpg%2F1200px-Land_Rover_Range_Rover_Autobiography_2016.jpg&f=1&nofb=1"</a>

        </div>
        <div class="card-content">
          <p>TEST</p>

        </div>
          <div class="card-action">
              <a href="/">view listing : Price Test PRICE</a>

          </div>

      </div>
    </div>


      <div class="col s4">
      <div class="card">
        <div class="card-image">
            <a href="/"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F1%2F18%2FLand_Rover_Range_Rover_Autobiography_2016.jpg%2F1200px-Land_Rover_Range_Rover_Autobiography_2016.jpg&f=1&nofb=1"</a>

        </div>
        <div class="card-content">
          <p>TEST</p>

        </div>
          <div class="card-action">
              <a href="/">view listing : Price Test PRICE</a>

          </div>

      </div>
    </div>

        <div class="col s4">
      <div class="card">
        <div class="card-image">
            <a href="/"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F1%2F18%2FLand_Rover_Range_Rover_Autobiography_2016.jpg%2F1200px-Land_Rover_Range_Rover_Autobiography_2016.jpg&f=1&nofb=1"</a>

        </div>
        <div class="card-content">
          <p>TEST</p>

        </div>
          <div class="card-action">
              <a href="/">view listing : Price Test PRICE</a>

          </div>

      </div>

    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Range_Rover_4th_generation_Paris_Motor_Show_2012.JPG/1200px-Range_Rover_4th_generation_Paris_Motor_Show_2012.JPG"</a>
        </div>
        <div class="card-content">
          <p>TEST</p>

        </div>
          <div class="card-action">
              <a href="/">view listing : Price Test PRICE</a>

          </div>

      </div>
    </div>



</div>










{% endblock content %}




</html>