<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Craig list </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width= devise-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<nav>
    <div class="container nav-wrapper">
      <a href="/" class="brand-logo center">Craig list</a>
      <ul id="nav-mobile" class="right">

        <li><a href="/">Home</a></li>
      </ul>
    </div>
</nav>

<div class="container">
<h1 style="text-align: center">What do you want to search doe on the list?</h1>
 <div class="row">
    <div class="col s4">
      <div class="center">
        <i class="large material-icons" style="color: #EE6E73">flash_on</i>
        <p> Fast craiglist web scraper</p>
        <p class="light center">scrape away right with a beautifull GUI.</p>
      </div>
    </div>
    <div class="col s4">
      <div class="center">
        <i class="large material-icons" style="color: blue">add_shopping_cart</i>
        <p> sexy beach </p>
        <p class="light center">we builkd this   </p>
      </div>
    </div>
    <div class="col s4">
      <div class="center">
        <i class="large material-icons" style="color: yellow">airport_shuttle</i>
        <p> Fast craiglist web scraper</p>
        <p class="light center">savage </p>
      </div>
    </div>
 </div>



    <form action="{% url 'new_search' %}"method="post">
         {% csrf_token %}
        <input type="test" name="search" placeholder="search">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>

    </form>
    {% block content %}


    {% endblock content %}

</div>



<script src="https" ://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js "</script>





<h2> Testing to see if this is working </h2>
</body>
</html>